:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #e3e4e7;
  background-color: #0b0b0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff1e;
  color: #e3e4e7;
  cursor: pointer;
  transition: border-color 0.25s;
  border-top: 1px solid #ffffff1d;
  border-bottom: 1px solid #00000041;
  transition: all 0.1s ease;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  font-weight: 600;
}
button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 0 16px #e4e4e415;
  transform: translateY(-2px);
}

button:active {
  background-color: #44c2b5;
  border-color: transparent;
  border-top: 1px solid #e3e3e341;
  border-bottom: 1px solid #00000041;
  color: #212226;
  transform: translateY(3px);
}

button.primary {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4fe0b5;
  color: #0b0b0c;
  cursor: pointer;
  transition: border-color 0.25s;
  border-top: 1px solid #ffffff79;
  border-bottom: 1px solid #00000041;
  transition: all 0.1s ease;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  font-weight: 600;
}
button.primary:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 0 16px #5280e22b;
  transform: translateY(-2px);
}

button.primary:active {
  background-color: #44c2b5;
  border-color: transparent;
  border-top: 1px solid #e3e3e341;
  border-bottom: 1px solid #00000041;
  color: #212226;
  transform: translateY(3px);
}

p {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 16px;
  font-family: monospace;
  border-radius: 8px;
  font-size: 1.25em;
  color: #e3e4e7;
}

input {
  border: 2px solid rgba(255, 255, 255, 0.08);
  background-color: transparent;
  padding: 16px;
  font-family: monospace;
  border-radius: 8px;
  font-size: 1em;
  color: #e3e4e7;
  flex: 1;
}

input:focus,
input:active {
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
}

.container__1EgQ_S2H8_ERwS_E6yS {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
